# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=bcs6f8g2
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_API_READ_TOKEN=
SANITY_API_WRITE_TOKEN=

# Default Fallback Shopee Affiliate ID
DEFAULT_AFFILIATE_ID=an_17387060372
DEFAULT_SUB_ID=web_converter

# Admin Dashboard Password (Fallback)
ADMIN_PASSWORD=admin123
